.caixa {
  background-color: #060f0e;
  color: #f9fafa;
  border-radius: 60px 200px 200px 60px;
  display: flex;
  padding: 5px;
  //margin: 5px;
  height: 72px;

  &--active {
    background-color: #015c49;
  }

  &__text-container {
    margin-left: 10px;
    margin-top: 3px;
  }

  &__semana {
    font-size: 11px;
    display: block;
  }

  &__numero {
    display: block;
    font-size: 20px;
    font-weight: 700;
  }

  &__text {
    display: block;
    font-size: 16px;
  }

  &__progresso {
    margin-left: auto;
    display: flex;
  }
}
