<div
  class="progresso"
  [ngClass]="{ 'progresso--girar': acionaGiro, 'progresso--active': active }"
>
  <div class="progresso__container">
    <div class="progresso__side progresso__side--front">
      <p class="progresso__text">
        {{ materia.nome }}
        <span class="progresso__line-break">{{ materia.numero }}</span>
      </p>
    </div>
    <div class="progresso__side progresso__side--back">
      <p class="progresso__text">
        {{ materia.nome }}
        <span class="progresso__line-break">{{ materia.numero }}</span>
      </p>
    </div>
  </div>
</div>
