<ion-tabs>
  <ion-tab-bar slot="top" class="topbar teste">

    <ion-tab-button tab="aulas" class="teste">
      <ion-label>Aulas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="material" class="teste">
      <ion-label>Material</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="questoes"class="teste">
      <ion-label>Questões</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="revalida"class="teste">
      <ion-label>Revalida</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
